### Importação dos dados

In [4]:
import pandas as pd

url = "https://raw.githubusercontent.com/alura-es-cursos/challenge1-data-science/refs/heads/main/base-de-dados-challenge-1/loja_1.csv"
url2 = "https://raw.githubusercontent.com/alura-es-cursos/challenge1-data-science/refs/heads/main/base-de-dados-challenge-1/loja_2.csv"
url3 = "https://raw.githubusercontent.com/alura-es-cursos/challenge1-data-science/refs/heads/main/base-de-dados-challenge-1/loja_3.csv"
url4 = "https://raw.githubusercontent.com/alura-es-cursos/challenge1-data-science/refs/heads/main/base-de-dados-challenge-1/loja_4.csv"

loja = pd.read_csv(url)
loja2 = pd.read_csv(url2)
loja3 = pd.read_csv(url3)
loja4 = pd.read_csv(url4)

loja.head()

,Produto,Categoria do Produto,Preço,Frete,Data da Compra,Vendedor,Local da compra,Avaliação da compra,Tipo de pagamento,Quantidade de parcelas,lat,lon
0,Assistente virtual,eletronicos,219.08,9.249790,16/01/2021,Pedro Gomes,SP,4,cartao_credito,8,-22.19,-48.79
1,Mesa de jantar,moveis,256.35,11.234305,18/05/2022,Beatriz Moraes,RJ,1,cartao_credito,4,-22.25,-42.66
2,Jogo de tabuleiro,brinquedos,279.51,21.262681,15/03/2021,João Souza,DF,1,cartao_credito,1,-15.83,-47.86
3,Micro-ondas,eletrodomesticos,1009.99,54.667344,03/05/2022,João Souza,RS,4,boleto,1,-30.17,-53.50
4,Cadeira de escritório,moveis,446.99,26.964689,07/11/2020,Larissa Alves,MG,5,boleto,1,-18.10,-44.38

# Definição da função em um dicionário

In [6]:
loja['Loja'] = 'Loja 1'
loja2['Loja'] = 'Loja 2'
loja3['Loja'] = 'Loja 3'
loja4['Loja'] = 'Loja 4'

df = pd.concat([loja, loja2, loja3, loja4], ignore_index=True)

#1. Análise do faturamento

In [7]:
df['Faturamento'] = df['Preço'] + df['Frete']

In [8]:
df.groupby('Loja')['Faturamento'].sum().sort_values(ascending=False)

Loja
Loja 1    1.616347e+06
Loja 2    1.567773e+06
Loja 3    1.542048e+06
Loja 4    1.458253e+06
Name: Faturamento, dtype: float64

# 2. Vendas por Categoria

In [9]:
df['Quantidade'] = 1  # assumindo 1 por linha

In [10]:
df.groupby('Categoria do Produto')['Quantidade'].sum().sort_values(ascending=False)

Categoria do Produto
moveis                   1886
eletronicos              1772
brinquedos               1290
eletrodomesticos         1149
esporte e lazer          1113
instrumentos musicais     753
livros                    742
utilidades domesticas     730
Name: Quantidade, dtype: int64

# 3. Média de Avaliação das Lojas

In [18]:
df.groupby('Loja')['Avaliação da compra'].mean().sort_values(ascending=False)

Loja
Loja 3    4.048326
Loja 2    4.037304
Loja 4    3.995759
Loja 1    3.976685
Name: Avaliação da compra, dtype: float64

# 4. Produtos Mais e Menos Vendidos

In [13]:
vendas_produto = df['Produto'].value_counts()

In [14]:
vendas_produto.iloc[[0, -1]]

Produto
Cômoda          210
Celular ABXY    157
Name: count, dtype: int64

# 5. Frete Médio por Loja

In [17]:
df.groupby('Loja')['Frete'].mean().sort_values(ascending=False)

Loja
Loja 1    34.691805
Loja 2    33.621941
Loja 3    33.074464
Loja 4    31.278997
Name: Frete, dtype: float64